/*...............Common CSS Start Here.................*/
body {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins' sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

img {
  display: block;
}


ul {
  list-style-type: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.btn {
  padding: 20px 48px;
  border-radius: 12px;
  background: #FFD2A4;
  color: #1C1D28;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
}

/*...............Common CSS End Here.................*/




/*...............Nav Section Start Here.................*/
.header {
  background: #0D0D0D;
}

.header .nav {
  display: flex;
  column-gap: 128px;
  padding: 12px 0;
  align-items: center;
}

.header .nav .logo {
  flex: 0 0 10%;
  max-width: 10%;
}

.header .nav .navitem {
  display: flex;
  justify-content: space-between;
  flex: 0 0 80%;
  max-width: 80%;
}

.header .nav .items {
  display: flex;
  column-gap: 48px;
  align-items: center;
}


.header .nav .items li a {
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}


/*...............Nav Section End Here.................*/





/*...............Banner Section Start Here.................*/
#banner_part {
  background: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 228px 0;
}


#banner_part .banner_text h4 {
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}


#banner_part .banner_text h2 {
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  width: 592px;
  margin-top: 16px;
  margin-bottom: 32px;
}


#banner_part .banner_text .btn {
  padding: 24px 64px;
  background: #FFD2A4;
  margin-bottom: 64px;
}

#banner_part .banner_text p {
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 308px;
  position: absolute;
  left: 34px;

}

#banner_part .banner_text .text {
  position: relative;
}

#banner_part .banner_text .text::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  background: #FFD2A4;
  display: inline-block;
  top: 12px;
  left: 0;
}




/*...............Banner Section End Here.................*/





/*...............Relevant Card Section Start Here.................*/

#relevantCard_part {
  padding: 128px 0;
}



#relevantCard_part .relevantText h4 {
  color: #161722;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}


#relevantCard_part .relevantText h5 {
  color: #161722;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 64px;
}


#relevantCard_part .cards {
  display: flex;
  column-gap: 24px;
}


#relevantCard_part .cards .card {
  padding: 92px 80px 80px 80px;
  background: #FFF5EB;
  flex: 0 0 30%;
  width: 30%;
  border-bottom: 16px solid #FFD2A4;
}


#relevantCard_part .cards .card .icon {
  width: 48px;
  height: 48px;
  background-color: #FFD2A4;
  border-radius: 50%;
}

#relevantCard_part .cards .card .icon i {
  font-size: 24px;
  line-height: 48px;
  display: flex;
  justify-content: center;

}


#relevantCard_part .cards .card h3 {
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 8px;
}

#relevantCard_part .cards .card p {
  width: 251px;
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}



/*...............Relevant Card Section End Here.................*/





/*...............Love and Compassion Section Start Here.................*/


#love_part {
  padding-bottom: 128px;
}

#love_part .love_text h5 {
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center
}


#love_part .love_text h4 {
  color: #161722;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 32px;
}


#love_part .love_text p {
  width: 846px;
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 43px;

}


#love_part .loveCards {
  display: flex;
  column-gap: 24px;
  justify-content: center;
}

#love_part .btn {
  margin: 0 auto;
}


#love_part .loveCards .Card_2 {
  margin-top: 48px;
}



#love_part .love_text2 {
  margin-top: 64px;
}


#love_part .love_text2 .love_link {
  text-align: center;
  display: block;
  color: #161722;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

#love_part .love_text2 .love_text2_para {
  width: 512px;
}


#love_part .love_text2 .love_link i {
  margin-left: 7px;
  color: #33343E;
}


/*...............Love and Compassion Section End Here.................*/





/*...............Benefits Section Start Here.................*/

#benefits_part {
  background: #F5F2F0;
  padding: 128px 0;
}


#benefits_part .benefits_text h5 {
  color: #161722;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}



#benefits_part .benefits_text h3 {
  width: 432px;
  color: #161722;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 64px;
}

#benefits_part .benefits_cards {
  display: flex;
  column-gap: 24px;
}

#benefits_part .benefits_cards .benefit_card1 {
  background: url(../images/benefit_pic_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 208px 32px 32px 32px;
  width: 302px;

}


#benefits_part .benefits_cards .benefit_card2 {
  background: url(../images/benefit_pic_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 296px 32px 32px 32px;
  width: 302px;

}


#benefits_part .benefits_cards .benefit_card3 {
  background: url(../images/benefit_pic_3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 296px 32px 32px 32px;
  width: 302px;
}



#benefits_part .benefits_cards .benefit_card4 {
  background: url(../images/benefit_pic_4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 296px 32px 32px 32px;
  width: 302px;
}


#benefits_part .benefits_cards h4 {
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
  text-transform: uppercase;
}



#benefits_part .benefits_cards p {
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 238px;
  margin-top: 16px;
}


/*...............Benefits Section End Here.................*/