/*...............Common CSS Start Here.................*/
body {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins' sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}


ul {
  list-style-type: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.btn {
  padding: 20px 48px;
  border-radius: 12px;
  background: #FFD2A4;
  color: #1C1D28;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;

}

/*...............Common CSS End Here.................*/




/*...............Nav Section Start Here.................*/
.header {
  background: #0D0D0D;
}

.header .nav {
  display: flex;
  column-gap: 128px;
  padding: 12px 0;
  align-items: center;
}

.header .nav .logo {
  flex: 0 0 10%;
  max-width: 10%;
}

.header .nav .navitem {
  display: flex;
  justify-content: space-between;
  flex: 0 0 80%;
  max-width: 80%;
}

.header .nav .items {
  display: flex;
  column-gap: 48px;
  align-items: center;
}


.header .nav .items li a {
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}


/*...............Nav Section End Here.................*/





/*...............Banner Section Start Here.................*/
#banner_part {
  background: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 228px 0;
}


#banner_part .banner_text {}

#banner_part .banner_text h4 {
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}


#banner_part .banner_text h2 {
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  width: 592px;
  margin-top: 16px;
  margin-bottom: 32px;
}


#banner_part .banner_text .btn {
  padding: 24px 64px;
  background: #FFD2A4;
  margin-bottom: 64px;
}

#banner_part .banner_text p {
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 308px;
  position: absolute;
  left: 34px;

}

#banner_part .banner_text .text {
  position: relative;
}

#banner_part .banner_text .text::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  background: #FFD2A4;
  display: inline-block;
  top: 12px;
  left: 0;
}





/*...............Banner Section End Here.................*/